.nano::-webkit-scrollbar  {
    width: 5px;
}

/**  STYLE 1 */
.nano::-webkit-scrollbar-thumb {
    background-color: #bfc1c2;
}
#shop-filter>* {
    display: inline-block;
    position: relative;
}
#shop-filter .nano {
    position: absolute;
    overflow-x: hidden;
}
#shop-filter .title-filter{
    line-height: 50px;
    font-weight: bold;
    font-size: 15px;
    color: #ff690d;
}
#shop-filter {
    background-color: #eeeeee;
    color:#3e464c;
    margin-top: 20px;
    padding: 0 27px;
    margin-bottom: 55px;
    box-shadow: 0px 7px 25px -11px #000
}
#shop-filter .title-filter .icon {
    position: relative;
    top: 3px;
    margin-right: 9px;
}
#shop-filter .filter-param ul{
    -webkit-transition: all 1s;
    transition: all 1s;
    max-height: 0;
    background-color: #eeeeee;
    min-width: 100%;
    list-style: none;
    margin: 0;
    z-index: 1;
    padding: 0 15px;
    box-shadow: 0px 7px 16px -6px rgba(0, 0, 0, 0.64);
}
#shop-filter a.filter-reset {
    color: #000;
    line-height: 15px;
    border-bottom: 1px dashed #989898;
    right: 0;
    top: 21px;
}

#shop-filter a.filter-reset:hover {
    color: #ff690d;
    border-color: #ff690d;
}

#shop-filter a.filter-reset:after {
    content: "x";
    margin-left: 5px;
    font-family: monospace;
    position: absolute;
}
#shop-filter .filter-param > span{
    line-height: 50px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    padding: 0 25px;
}
#shopmap{
    height: 420px;
    position: relative;
}
#shop-filter .filter-param .nano label>.filter-check {
    width: 8px;
    height: 8px;
    background-color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    outline: 1px solid #d8dbde;
    margin-right: 8px;
    position: absolute;
    left: -3px;
    top: 8px;
}
#shop-filter .filter-param .nano label>input:checked+.filter-check {
    background-color: #ff690d;
    border: 2px solid #fff;
}
#shop-filter .filter-text {
    border-bottom: 1px dashed #bfbfbf;
}
#shop-filter .filter-param .nano label>input:checked+.filter-text {
    border-color:#ff690d;
}
#shop-filter .filter-param .nano label {
    font-size: 13px;
    display: block;
    line-height: 24px;
    padding-left: 10px;
    position: relative;
}
#shop-filter .filter-param .nano label:hover{
    cursor:pointer;
    color:#ff690d;
}
#shop-filter .filter-param .nano label > input {
    display: none;
}
#shop-filter .filter-param .icon:before {
    font-size: 8px;
    margin-left: 7px;
    top: -2px;
    position: relative;
}

#shop-filter.filter-param:hover{
    cursor:pointer;
    box-shadow: 0px 7px 16px -6px rgba(0, 0, 0, 0.64);
}
#shop-filter .filter-param:hover ul.nano{
    max-height: 360px;
}
#shop-filter .filter-param ul li:first-child {
    margin-top:10px;
}
#shop-filter .filter-param ul li:last-child {
    margin-bottom:10px;
}
#shop-filter .filter-text {
    border-bottom: 1px dashed #bfbfbf;
}
#shop-filter .filter-reset{
    float:right;
}

.baloon-shop{
    position: relative;
    width:310px;
    background-color:#fff;
}
.balloon-header{
    height: 54px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image:url(/wp-content/plugins/asker-shops/assets/images/logo.png) ;
}
.balloon-body li{
    padding-left: 30px;
    position: relative;
    text-align: left;
    font-size: 15px;
    margin: 10px 0px;
}
.balloon-body {
    background-color: #eeeeee;
}

.balloon-body ul {
    margin: 0;
    padding: 10px 20px;
    list-style: none;
}
.balloon-body li:before {
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    position: absolute;
    display: inline-block;
    background-image: url(/wp-content/plugins/asker-shops/assets/images/sprite.png);
    background-repeat: no-repeat;
}
.balloon-body li {
    padding-left: 30px;
    position: relative;
    text-align: left;
    font-size: 15px;
    margin: 10px 0px;
}

.baloon-address:before {
    background-position: center 0;
}

.baloon-time:before {
    background-position: center -24px;
}

.baloon-phone:before {
    background-position: center -50px;
}.baloon-shop .close {
     position: absolute;
     right: 5px;
     color: #000;
     top: 5px;
     font-weight: bold;
     font-size: 20px;
 }

.baloon-shop .close:hover {
    color: #989898;
}

.balloon-body ul>span {
    color: #ff690d;
    font-weight: bold;
    display: inline-block;
    padding-lefT: 30px;
}
.baloon-shop .arrow, .baloon-shop .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.baloon-shop .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,0.25);
    border-width: 11px;
    border-bottom-width: 0;
}
.baloon-shop .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #fff;
    border-width: 10px;
    border-bottom-width: 0;
    content: "";
}
.balloon-footer a {
    color: #ff690d;
    border-bottom: 1px dashed #ff690d;
    font-style: italic;
}

.balloon-footer {
    padding: 10px 20px;
}

.balloon-footer a:hover {
    border-color: #ff9758;
    color: #ff9758;
}
#shop-trace {
    width: 455px;
    color: #000;
    padding: 20px;
    position: absolute;
    z-index: 13;
    top: 100px;
    background: #eeeeee;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
#shop-trace .close-modal {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 5;
    background-position: 0 0;
    width: 23px;
    height: 23px;
    background-image: url(/wp-content/themes/armtek/inc/img/sprite.png);
}
#calcRoute:hover{
    cursor:pointer;
}
.shop-info{
    font-size:15px;
    line-height:20px;
}
#calcRoute,#calcRouteRemove {
    background: rgba(255,106,13,1);
    background: -moz-linear-gradient(left, rgba(255,106,13,1) 0%, rgba(250,124,70,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,106,13,1)), color-stop(100%, rgba(250,124,70,1)));
    background: -webkit-linear-gradient(left, rgba(255,106,13,1) 0%, rgba(250,124,70,1) 100%);
    background: -o-linear-gradient(left, rgba(255,106,13,1) 0%, rgba(250,124,70,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,106,13,1) 0%, rgba(250,124,70,1) 100%);
    background: linear-gradient(to right, rgba(255,106,13,1) 0%, rgba(250,124,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a0d', endColorstr='#fa7c46', GradientType=1 );
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 1px 0px #df5a20;
    color: #fff;
    line-height: 30px;
    padding: 0 15px;
}
.shop-item > div,.shop-header > div  {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px;
}

.shop-item {
    display: table-row;
    width: 100%;
}

.shop-item:nth-child(odd) {
    background-color: #efefef;
}

#list-shop {
    display: table;
    width: 100%;
}

.shop-header {
    display: table-row;
    width: 100%;
    background-color: #fff;
    font-weight: bold;
    line-height: 40px;
}
.shop-item {
    display: table-row;
    width: 100%;
}
.shop-header > div {
}

.shop-item:hover {
    outline: 1px solid #ff7119;
}
.filter-view a {
    margin: 0 5px;
    color: #4c5459!important;
    border-bottom: none!important;
}
.filter-view a.active {
    color: #ff7119!important;
    border-bottom: 1px dashed #ff7119!important;
}


.tab-contacts,
.tab-switch-maps-contacts{
    background-color: #eeeeee;
    color: #3e464c;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 25px -11px #000;
    display:table;
    width:100%;
}
.tab-contacts > a,
.tab-switch-maps-contacts > a{
    line-height:50px;
    font-size:15px;
    font-weight:bold;
    text-transform:uppercase;
    color: #3e464c!important;
    display:table-cell;
    text-align:center;
    position:relative;
}
.tab-switch-maps-contacts > a{
    width: 50%;
}
@media (max-width: 695px) {
    .tab-switch-maps-contacts > a{
        width: 100%;
        display: block;
    }
}

.tab-contacts>a:after,
.tab-switch-maps-contacts > a:after{
    content:'';
    width:1px;
    display:block;
    height:10px;
    background-color:#c6cfd8;
    position:absolute;
    right:0;
    top:20px;
}
.tab-contacts>a:last-child:after,
.tab-switch-maps-contacts>a:last-child:after{
    content:none;
}
.tab-contacts>a:hover,.tab-contacts>a.active,
.tab-switch-maps-contacts>a:hover,.tab-switch-maps-contacts>a.active{
    color: #ff7119!important;
}

.personal-left {
    display: table-cell;
    width: 71px;
    vertical-align: middle;
    text-align: center;
}
.personal-left img{
    margin:0!important;
}
.personal-right {
    display: table-cell;
    vertical-align: middle;
    padding-left: 27px;
    line-height: 1.4em;
    font-size: 15px;
}

.personal-name {
    font-weight: bold;
    text-transform: uppercase;
}

.personal-item {
    display: table;
    padding: 30px 27px;
    width: 100%;
}
.personal-item:hover{
    outline:1px solid #ff7119;
}
.personal-item:nth-child(odd){
    background-color: #eeeeee;
}

.personal-pos {
    font-style: italic;
}

.personal-tel a {
    color: #666!important;
}
.personal-tel a:hover{
    color: #ff7119!important;
}

.personal-block>span{
    font-size:15px;
    font-weight:bold;
    line-height:50px;
    padding-left:27px;
}
.tab-contacts-items > div{
    display:none;
}
.tab-contacts-items > .active{
    display:block;
}

#shop-maps{
    display: block;
}

#maps,
#contacts{
    display: none;
}
#maps.active,
#contacts.active{
    display: block;
}
@media (max-width: 695px) {
    #shop-filter>*{
        display: block;
        border-top: 1px solid #bbbbbb;
    }
    #shop-filter>*:first-child {
        border-top: 0;
    }
    #shop-filter .nano{
        position: relative;
    }
    .filter-param ul,.filter-param:hover{
        box-shadow: none;
    }
    .otherpage#main-info .content .filter-reset {
        color: #3e464c;
        border-bottom: 0;
        float: inherit;
        top: 0;
        display: block;
        padding: 20px 25px;
        text-decoration: underline;
    }
    .shop-header {
         display: none;
     }

    .shop-item {
        display: block;
    }

    .shop-item > div, .shop-header > div {
        display: block;
    }
    .filter-view {
        padding: 13px 0;
        border-bottom: 1px solid #ddd;
    }

    a.filter-reset {
        right: auto;
        top: auto;
        float: none;
        padding: 20px 21px;
    }

    .filter-view {
        padding-left: 20px;
    }
    .tab-contacts>a{
        display:block;
    }
    .personal-left{
        display:block;
        width: 100%;
    }
    .personal-right{
        display: block;
        padding: 0;
    }
    .personal-block>span{
        padding-left: 0;
    }


    #shopmap:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1;
        opacity: 0.4;
    }

    #shopmap:after {
        position: absolute;
        content: "Нажмите, чтобы открыть";
        border: 1px solid #ddd;
        width: 250px;
        background-color: rgba(255, 255, 255, 0.7);
        height: 90px;
        text-align: center;
        margin-left: -125px;
        margin-top: -45px;
        left: 50%;
        font-size: 30px;
        top: 50%;
        z-index: 4;
    }
    ymaps[class$=balloon-pane]{
        z-index: 3000!important;
    }
}
